html, body {
  margin: 0;
  height: 100%;
  background: #1a1a1a;
}

#map {
  width: 100%;
  height: 100%;
}

/* EXTREMT pixeligt */
.leaflet-tile {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  filter:
    saturate(1.3)
    contrast(1.1);
}

/* Blockigt UI */
.leaflet-container {
  background: #3b5f2a;
}
